[submodule "extern/bdk_py"]
	path = extern/bdk_py
	url = https://github.com/DarklightGames/bdk_py.git
[submodule "extern/t3d-python"]
	path = extern/t3d-python
	url = https://github.com/DarklightGames/t3d-python.git
[submodule "extern/UEViewer"]
	path = extern/UEViewer
	url = https://github.com/DarklightGames/UEViewer.git
